* {
  background-color: aliceblue;
}

#title {
  display: block;
  text-align: center;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
  display: block;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#firstName {
  display: block;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  cursor: pointer;
}

#lastName {
  display: block;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  cursor: pointer;
}

#email {
  display: block;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  cursor: pointer;
}

#contact {
  display: block;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  cursor: pointer;
}

#male {
  cursor: pointer;
}

#female {
  cursor: pointer;
}

#other {
  cursor: pointer;
}

#english {
  cursor: pointer;
}

#math {
  cursor: pointer;
}

#physics {
  cursor: pointer;
}

#resume {
  cursor: pointer;
}

#url {
  display: block;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  cursor: pointer;
}

#choice {
  display: block;
  width: 150px;
  cursor: pointer;
}

#about {
  display: block;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  cursor: pointer;
}

#reset {
  background-color: red;
  color: white;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#submit {
  background-color: green;
  color: white;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
